:root{
    --colorbilo:#FFFFFF;
    --colorblack:#212121;
    --colorsiro:#757575;
    --colorsini:#2196F3;
    --colorbigblack:#000000;
    --colorbigsiro:#2F303A;
    --colorsmallsiro:#ECECEC;
    --colorsmallbilo:#F5F4FA;
}
[href^='https']{
    color: red;
}
.list+p{
    font-size: 24px;
}