.hor{
    color: #505050;
font-size: 26px;
font-family: Raleway;
font-weight: 700;
letter-spacing: 0.78px;
}
.kol{
    color: #505050;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.jot{
    width: 250px;
height: 200px;
flex-shrink: 0;
}
.hoh{
    color: #505050;
    font-size: 15px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}