.form-text:focus {
    outline: none;
    border: 5px solid red;
}
.list-item:nth-child(odd){
    background-color: grey;
}
.list-item:nth-child(even){
    background-color: blueviolet;
}
.list-item:first-child{
    background-color: blue;
}
.list-item:last-child{
    background-color: green;
}